@font-face {
  font-family: 'Gangster Grotesk';
  src: url('../GangsterGrotesk-Regular.otf');
}

body {
  font-family: 'Gangster Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #031098;
  background: #FAF7F3;
}

html {
  cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAMAAACeyVWkAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAEZJREFUeAGt0EEKgDAUA1En9z+0qEENhA+FvlUZQqE9Bnynlmlr2iVkSY66AHrg+MddSUiU6VuxqMhYquzcCvO6PZjhx5oTQ+8Bs3EshqIAAAAASUVORK5CYII=), auto;
}

a {
  color: #031098;
}

.cv {
  background-image: url('../hansson.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-attachment: fixed;
}