@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Necto Mono";
  src: url("/Necto-Mono.woff2") format("woff2"),
       url("/Necto-Mono.woff") format("woff");
}

body {
  font-family: "Necto Mono";
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-image: url('/hansson.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-blend-mode: multiply;
  background-attachment: fixed;
}
